{% extends "base.html" %}
{%load unslugify %}
{% block title %}JFPS - Fincas{% endblock %}
{%block titulo%}Los Animales{%endblock%}
{% block contenido %}
<table>
<caption>Los Animales</caption>
 <thead>
    <tr>
        <th></th>
        <th>Número</th>
        <th>%</th>
        <th>cantidad</th>
        <th>%</th>
    </tr>
 </thead>
    <tr>
        <td>TOTAL</td>
        <td>{{totales.numero}}</td>
        <td>{{totales.porcentaje_num}}</td>
        <td>{{totales.animales}}</td>
        <td>{{totales.porcentaje_animal}}</td>
    </tr>
    {%for key, value in tabla.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.numero|floatformat}}</td>
        <td>{{value.porcentaje_num|floatformat}}</td>
        <td>{{value.animales|floatformat}}</td>
        <td>{{value.porcentaje_animal|floatformat}}</td>
    </tr>
    {%endfor%}
</table>


{% endblock %}
