{% extends "base.html" %}
{%load unslugify %}
{% block title %}JFPS - Los Arboles{% endblock %}
{%block titulo%}Los Arboles{%endblock%}
{% block extra_header %}
 <script type="text/javascript">
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/arboles/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
{% endblock %}
{% block contenido %}

número de familias: {{num_familias}}

<h2>Graficos de los distintos Tipos de arboles</h2>
<ul>
 <li><a href="#" onCLick="click_callback('maderable')">Arbol Maderable</a></li>
 <li><a href="#" onCLick="click_callback('forrajero')">Árbol Forrajero</a></li>
 <li><a href="#" onCLick="click_callback('energetico')">Árbol Energetico</a></li>
 <li><a href="#" onCLick="click_callback('frutal')">Árbol Frutal</a></li>
</ul>
 <div id="grafo"></div>
 
<table>
<caption>Tabla Existencia de Arboles</caption>
    <thead>
         <tr>
				 <th>TIPO</th>
                 <th>TOTAL</th>
                 <th>PROMEDIO/FINCA</th>
         </tr>
    </thead>
<tr>
    <td>Maderables</td>
    <td>{{maderable}}</td>
    <td>{{pro_maderable}}</td>
</tr>
<tr>
    <td>Forrajero</td>
    <td>{{forrajero}}</td>
    <td>{{pro_forrajero}}</td>
</tr>
<tr>
    <td>Energetico</td>
    <td>{{energetico}}</td>
    <td>{{pro_energetico}}</td>
</tr>
<tr>
    <td>Frutales</td>
    <td>{{frutal}}</td>
    <td>{{pro_frutal}}</td>
</tr>
</table>
<br><br>
<table>
<caption>Reforestación en ultimo año</caption>
 <thead>
    <tr>
        <th>Actividad</th>
        <th>Cantidad</th>
        <th>Nativos</th>
        <th>% Nativo</th>
        <th>No Nativos</th>
        <th>% Nonativos</th>
    </tr>
 </thead>
    {%for key, value in tabla.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.numero|floatformat}}</td>
        <td>{{value.nativos|floatformat}}</td>
        <td>{{value.porcentaje_nativos|floatformat}}</td>
        <td>{{value.nonativos|floatformat}}</td>
        <td>{{value.porcentaje_nonativos|floatformat}}</td>
    </tr>
    {%endfor%}
</table>
{% endblock %}
