{% extends "base.html" %}
{%load unslugify %}
{% block title %}JFPS - Educación{% endblock %}
{%block titulo%}La Educación{%endblock%}
{% block contenido %}
<table>
 <thead>
    <tr>
        <th></th>
        <th>número</th>
        <th>%</th>
    </tr>
 </thead>
    {% for fila in tabla_no %}
    <tr>
        {%for celda in fila%}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>

<table>
 <thead>
    <tr>
        <th></th>
        <th>Número total</th>
        <th>No sabe leer</th>
        <th>Primaria incompleta</th>
        <th>Primaria completa</th>
        <th>Secundaria incompleta</th>
        <th>Secundaria completa</th>
        <th>estudiante técnico o universitario</th>
        <th>Técnica o universidad completa</th>
    </tr>
 </thead>
    {%for fila in tabla_educacion%}
    <tr>
        <td>{{fila.label}}</td>
        <td>{{fila.objeto.num_total}}</td>
        <td>{{fila.objeto.no_lee}}</td>
        <td>{{fila.objeto.pri_incompleta}}</td>
        <td>{{fila.objeto.pri_completa}}</td>
        <td>{{fila.objeto.secun_incompleta}}</td>
        <td>{{fila.objeto.secun_completa}}</td>
        <td>{{fila.objeto.universitario}}</td>
        <td>{{fila.objeto.tecnico_graduado}}</td>
    </tr>
    {%endfor%}

</table>

{% endblock %}
