{% extends "base.html" %}
{%load unslugify %}
{%block titulo%}Los Equipos{%endblock%}
{% block contenido %}
Número de familia: {{num_familia}}

<table>
<caption>Los Equipos</caption>
 <thead>
    <tr>
        <th>EQUIPOS</th>
        <th>FRECUENCIA</th>
        <th>%</th>
        <th>CANTIDAD</th>
        <th>%</th>
    </tr>
  </thead>
    {%for key, value in tabla.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.frecuencia|floatformat}}</td>
        <td>{{value.por_equipo|floatformat}}</td>
        <td>{{value.equipo|floatformat}}</td>
        <td>{{value.por_cantidad|floatformat}}</td>
    </tr>
    {%endfor%}
</table>

<table>
<caption>Las Infraestructuras</caption>
 <thead>
    <tr>
        <th>INFRAESTRUCTURA</th>
        <th>FRECUENCIA</th>
        <th>%</th>
        <th>CANTIDAD</th>
        <th>%</th>
    </tr>
  </thead>
    {%for key, value in tabla_infra.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.frecuencia|floatformat}}</td>
        <td>{{value.por_frecuencia|floatformat}}</td>
         <td>{{value.infraestructura|floatformat}}</td>
        <td>{{value.por_infra|floatformat}}</td>
    </tr>
    {%endfor%}
</table>

<table>
<caption>Las Herramientas</caption>
 <thead>
    <tr>
        <th>HERRAMIENTAS</th>
        <th>FRECUENCIA</th>
        <th>%</th>
        <th>CANTIDAD</th>
        <th>%</th>
    </tr>
 </thead>
    {%for key, value in herramienta.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.frecuencia|floatformat}}</td>
        <td>{{value.por_frecuencia|floatformat}}</td>
         <td>{{value.herra|floatformat}}</td>
        <td>{{value.por_herra|floatformat}}</td>
    </tr>
    {%endfor%}
</table>

<table>
<caption>Los Transportes</caption>
 <thead>
    <tr>
        <th>TRANSPORTE</th>
        <th>FRECUENCIA</th>
        <th>%</th>
        <th>CANTIDAD</th>
        <th>%</th>
    </tr>
 </thead>
    {%for key, value in transporte.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.frecuencia|floatformat}}</td>
        <td>{{value.por_frecuencia|floatformat}}</td>
         <td>{{value.trans|floatformat}}</td>
        <td>{{value.por_trans|floatformat}}</td>
    </tr>
    {%endfor%}
</table>

{% endblock %}
