{% extends "base.html" %}
{%load unslugify %}
{% block title %}JFPS - Las Familias(Migracion){% endblock %}
{%block titulo%}Las Familias-Migración{%endblock%}
{% block contenido %}
Número de familia: {{num_familia}}
<table>
 <caption>Tabla Las Familias(Migración)</caption>
 <thead>
    <tr>
        <th>EDADES</th>
        <th>Totales</th>
        <th>viven casa</th>
        <th>%</th>
        <th>viven fuera</th>
        <th>%</th>
    </tr>
  </thead>
    {%for key, value in tabla.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.totalv|floatformat}}</td>
        <td>{{value.vive|floatformat}}</td>
        <td>{{value.porcentaje_viven|floatformat}}</td>
        <td>{{value.fuera|floatformat}}</td>
        <td>{{value.porcentaje_fuera|floatformat}}</td>
    </tr>
    {%endfor%}
</table>


{% endblock %}
