{% extends "base.html" %}
{% block title %}JFPS - Las Familias(Migracion){% endblock %}

{% block contenido %}

<table border='1'>
 <caption>Tabla Las Familias(Migración)</caption>
<thead>
         <tr>
				 <th></th>
				 <th>TOTALES</th>
                 <th>VIVEN EN LA CASA</th>
                 <th>%</th>
                 <th>VIVEN FUERA</th>
                 <th>%</th>
         </tr>
   </thead>
   <tr>
				<td>HOMBRES ADULTOS</td>
                 <td>{{hombre_adulto }}</td>
                 <td>{{ hombre_adulto_viven}}</td>
                 <td>{{ hombre_porciento}}</td>
                 <td>{{ hombre_adulto_fuera}}</td>
                 <td>{{ hombre_fuera_porciento}}</td>
</tr>
<tr>
				<td>MUJERES ADULTAS</td>
                 <td>{{mujeres_adulto }}</td>
                 <td>{{ mujeres_adulto_viven}}</td>
                 <td>{{ mujeres_porciento}}</td>
                 <td>{{ mujeres_adulto_fuera}}</td>
                 <td>{{ mujeres_fuera_porciento}}</td>
</tr>
<tr>
				<td>HOMBRES ADOLECENTES</td>
                 <td>{{hombre_adolecentes }}</td>
                 <td>{{ hombre_adolecentes_viven}}</td>
                 <td>{{ hombre_adolecentes_porciento}}</td>
                 <td>{{ hombre_adolecentes_fuera}}</td>
                 <td>{{ hombre_adolecentes_fuera_porciento}}</td>
</tr>
<tr>
				<td>MUJERES ADOLECENTES</td>
                 <td>{{ mujeres_adolecentes}}</td>
                 <td>{{mujeres_adolecentes_viven }}</td>
                 <td>{{ mujeres_adolecentes_porciento}}</td>
                 <td>{{ mujeres_adolecentes_fuera}}</td>
                 <td>{{ mujeres_adolencentes_fuera_porciento}}</td>
</tr>
<tr>
				<td>NIÑOS</td>
                 <td>{{ nino}}</td>
                 <td>{{nino_viven }}</td>
                 <td>{{ nino_porciento}}</td>
                 <td>{{ nino_fuera}}</td>
                 <td>{{ nino_fuera_porciento}}</td>
</tr>
<tr>
				<td>NIÑAS</td>
                 <td>{{ nina}}</td>
                 <td>{{nina_viven }}</td>
                 <td>{{ nina_porciento}}</td>
                 <td>{{ nina_fuera}}</td>
                 <td>{{ nina_fuera_porciento}}</td>
</tr>
</table>
{%for nada in totales %}
    {{nada}}
{%endfor%}


{% endblock %}
