{% extends "base.html" %}
{%load unslugify %}
{% block title %}JFPS - Fincas{% endblock %}
{%block titulo%}Las Fincas{%endblock%}

{% block contenido %}


<table>
<caption>Las Fincas</caption>
 <thead>
    <tr>
        <th></th>
        <th>Número</th>
        <th>%</th>
        <th>Manzanas</th>
        <th>%</th>
    </tr>
 </thead>
    <tr>
        <td>Area Total</td>
        <td>{{totales.numero}}</td>
        <td>{{totales.porcentaje_num}}</td>
        <td>{{totales.manzanas}}</td>
        <td>{{totales.porcentaje_mz}}</td>
    </tr>
    {%for key, value in tabla.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.numero|floatformat}}</td>
        <td>{{value.porcentaje_num|floatformat}}</td>
        <td>{{value.manzanas|floatformat}}</td>
        <td>{{value.porcentaje_mz|floatformat}}</td>
    </tr>
    {%endfor%}
</table>


{% endblock %}
