{% extends "base.html"%}
{% load humanize %}
{%load unslugify %}
{%block titulo%}Los Ingresos de las familias{%endblock%}
{% block extra_header %}
 <script type="text/javascript">
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/ingreso/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
{% endblock %}
{%block contenido%}

número de familias: {{num_familias}}

<h2>Graficos de los distintas especies de árboles</h2>
<ul>
 <li><a href="#" onCLick="click_callback('vendio')">A quien venden</a></li>
 <li><a href="#" onCLick="click_callback('maneja')">Quien maneja el negocio</a></li>
 <li><a href="#" onCLick="click_callback('ingreso')">Quien tiene los ingresos</a></li>
</ul>

<div id="grafo"></div>

<table>
<caption>Los Ingresos familiares</caption>
 <thead>
    <tr>
        <th>RUBROS</th>
        <th>Unidad</th>
        <th>Frecuencia</th>
        <th>Cantidad</th>
        <th>Precio promedio</th>
        <th>Ingreso por venta</th>
    </tr>
 </thead>
    {%for key, value in tabla.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.key2|unslugify}}</td>
        <td>{{value.numero|floatformat}}</td>
        <td>{{value.cantidad|floatformat}}</td>
        <td>{{value.precio|floatformat}}</td>
        <td>{{value.ingreso|floatformat}}</td>
        
    {%endfor%}
   
    <tr>
        <th>TOTAL VENTA RUBROS</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{respuesta.ingreso_total|floatformat:2}}</th>
    </tr>

</table>
<br><br>
<table>
<caption>Los Otros Ingresos familiares</caption>
 <thead>
    <tr>
        <th>FUENTES</th>
        <th>FRECUENCIA</th>
        <th>PROMEDIO MESES</th>
        <th>INGRESO MENSUAL PROMEDIO</th>
        <th>INGRESO TOTAL PROMEDIO</th>     
    </tr>
 </thead>
    {%for key, value in matriz.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.frecuencia|floatformat}}</td>
        <td>{{value.meses|floatformat}}</td>
        <td>{{value.ingreso|floatformat}}</td>
        <td>{{value.ingresototal|floatformat}}</td>
    </tr>
    {%endfor%}
    
    <tr>
        <th>TOTAL OTROS INGRESO</th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{respuesta.ingreso_otro|floatformat:2}}</th>
    </tr>
</table>
<br><br>
<table>
    <tr colspan="2">
        <th>INGRESO BRUTO</th>

        <th>{{respuesta.brutoo|intcomma}}</th>
    </tr>
</table>
<table>
    <tr colspan="2">
        <th>INGRESO NETO</th>
        
        <th>{{respuesta.total_neto|intcomma}}</th>
    </tr>
</table>
{%endblock%}
