{% extends "base.html"%}
{%load unslugify %}
{%block titulo%}Los Ingresos de las familias{%endblock%}
{%block contenido%}

número de familias: {{num_familias}}
<table>
<caption>Los Ingresos familiares</caption>
 <thead>
    <tr>
        <th>RUBROS</th>
        <th>UNIDAD</th>
        <th>FRECUENCIA</th>
        <th>CANTIDAD</th>
        <th>PRECIO PROMEDIO</th>
    </tr>
 </thead>
    {%for key, value in tabla.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{unidad|unslugify}}</td>
        <td>{{value.numero|floatformat}}</td>
        <td>{{value.cantidad|floatformat}}</td>
        <td>{{value.precio|floatformat}}</td>
    </tr>
    {%endfor%}
</table>
<br><br>
<table>
<caption>Los Otros Ingresos familiares</caption>
 <thead>
    <tr>
        <th>FUENTES</th>
        <th>FRECUENCIA</th>
        <th>PROMEDIO MESES</th>
        <th>INGRESO MENSUAL PROMEDIO</th>
        <th>INGRESO TOTAL PROMEDIO</th>     
    </tr>
 </thead>
    {%for key, value in matriz.items%}
    <tr>
        <td>{{key|unslugify}}</td>
        <td>{{value.frecuencia|floatformat}}</td>
        <td>{{value.meses|floatformat}}</td>
        <td>{{value.ingreso|floatformat}}</td>
        <td>{{value.ingresototal|floatformat}}</td>
    </tr>
    {%endfor%}
</table>

{%endblock%}
