<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html lang="es">
<head>
    <title>SISTEMA DE INFORMACIÓN DE JFPS {%block title%}{%endblock%}</title>
    <style type="text/css">
        @import url({{MEDIA_URL}}css/estilo.css);
    </style>

    {%block extra_js%}{%endblock%}
			
</head>
<body>
  <!-- Comienza el header -->
        <div id="header">
           <div id="header_contenedor">
			   <div id="logo" class="izq">Sistema de información JFPS</div>
			   <div id="imagen_header" class="der"></div>
			   <div class="separador"></div>
<!--
			   <div id="menu" class="izq">
			   <ul>
					<li>Inicio</li>
				</ul>
			   </div>

-->

			   <div id="login" class="der">
			       
			   </div>
           </div>
        </div>
        <!-- Termina el header -->
        <!-- comienza algo de pimp -->
        <div class="pimp"></div>
    <div id="contenedor" class="centro">
        
      
          <!-- Comienza Contenido-->
        <div id="contenido">
               <!-- Comienza Columna izquierda-->
               <div id="colum_izq" class="izq">
                  <div class="enlace_sidebar icono_filtro" id="pintar"><a href="/admin">Administración</div>
                  <div class="enlace_sidebar icono_ayuda">Ayuda</div>

               </div>
             <!-- termina Columna izquierda--> 
             
             <!-- Comienza Columna derecha--> 

               <div id="colum_der" class="der">
                   {%block contenido%}{%endblock%}
                  

	     	   </div>
	     	 <!-- termina Columna derecha--> 
            <div class="separador" ></div>
            
         </div>
            
        <!-- Termina Contenido-->
        

        
    </div>
    <!-- Termina Contenedor-->
            <!-- Comienza Footer-->
        
        <div id="footer">
             <div id="footer_contenedor" class="centro">
               <div id="logo_footer"></div>
               <div id="creditos">Desarrollado por <a href="http://www.simas.org.ni">SIMAS</a> bajo Django framework</div>
             
             </div>
        </div>
        <!-- Termina Footer-->
</body>
</html>
