<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{%block title%}SISTEMA DE INFORMACIÓN DE JFPS{%endblock%}</title>
    <link href="{{MEDIA_URL}}css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{MEDIA_URL}}css/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type='text/javascript' src='{{MEDIA_URL}}js/tablesort.js'></script>	
    <script type='text/javascript' src='{{MEDIA_URL}}js/jquery.metadata.js'></script>
	{%block extra_header%}{%endblock%}
</head>
<body>
  <!-- Comienza el header -->
<div id="header">
    <div id="header_contenedor">
			   <h1>Sistema de información <span class="jfps">JFPS</span></h1>
			   <div id="coop"><h2>Cooperativa Juan Francisco Paz Silva</h2> </div>
           <!-- comienza Menu --> 
            <ul id="nav">
                <li><a class="selected" href="/">Inicio</a></li>
                <li><a href="/index">Consultar</a></li>
                <li><a href="/admin">Administración</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul><!-- termina Menu -->
    </div><!-- Termina el header contenedor -->
</div> <!-- Termina el header -->
        <!-- comienza algo de pimp -->
        {%block pimp%}{%endblock%}
       
        
<div id="contenedor" class="centro">  
    <!-- Comienza Contenido-->
	<div id="contenido">
	 {%block menu%}
        <div id="menu">
            <ul>
                <li><a href="/familia">Familia</a></li>
                <li><a href="/organizacion">Organización</a></li>
                <li><a href="/fincas">Fincas</a></li>
                <li><a href="/arboles">Árboles</a></li>
                <li><a href="/animales">Animales</a></li>
                <li><a href="/cultivos">Cultivos</a></li>
                <li><a href="/ingresos">Ingresos</a></li>
                <li><a href="/equipos">Bienes</a></li>
                <li><a href="/ahorro_credito">Ahorro y Crédito</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/seguridad_alimentaria">Seguridad Alimentaria</a></li>
            </ul>
        </div>
        {%endblock%}
                 
             <!-- Comienza Columna derecha--> 
				<div id="colum_der" class="der">
				    <div id="titulo">
                    {% block titulo %} {% endblock %}
                    </div>
                   {%block filtros%}
                           <div id="filtros">
                                <span class="variables">Variables</span>
                                
                                <span class="variables_filtro"><b>Cooperativa</b><br>{%if request.session.cooperativa%}{{session.cooperativa}}{%endif%}</span>
                                <span class="variables_filtro"><b>Año</b><br>{{request.session.fecha}}</span>
                                <span class="variables_filtro"><b>Departamento</b><br>{{request.session.departamento}}</span>
                                <span class="variables_filtro"><b>Municipio</b><br>{{request.session.municipio.nombre}}</span>
                                <span class="variables_filtro"><b>Comunidad</b><br>{{request.session.comunidad.nombre}}</span>
                                <a href="/index">Nueva Consulta</a>
                            </div>
                   {%endblock%}
                        <div id="contenido_interno">

                                        {%block contenido%}

                                        {%endblock%}

                            </div>
                                <div class="separador" ></div>
                        </div>
                </div><!-- termina Columna derecha-->
            <div class="separador" ></div>
	</div><!-- Termina Contenido-->
</div><!-- Termina Contenedor-->

        <!-- Comienza Footer-->
        <div id="footer">
             <div id="footer_contenedor" class="centro">
               <div id="logo_footer"></div>
               <div id="creditos">Desarrollado por <a href="http://www.simas.org.ni">SIMAS</a> Con <a href="http://www.djangoproject.com/">Django</a> framework</div>
             </div><!-- termina del footer_contenedor -->
        </div><!-- Termina Footer-->
<!-- Termina Contenedor       <div id="validador"><p>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
  </p></div>--> 
</body>
</html>
