 {%extends "base.html"%}
 {%block extra_header%}
 
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#slider").easySlider({
				auto: true, 
				continuous: true,
				numeric: true
			});
		});	
	</script>
 {%endblock%}	
 {% block pimp %}
 <div id="container">
    <div id="content">
        <div id="slider">
			<ul>				
				<li><a ><img src="{{MEDIA_URL}}imagen/1img.png" alt="jfps foto" /></a></li>
				<li><a ><img src="{{MEDIA_URL}}imagen/2img.png" alt="jfps foto" /></a></li>
				<li><a ><img src="{{MEDIA_URL}}imagen/3img.png" alt="jfps foto" /></a></li>
				<li><a ><img src="{{MEDIA_URL}}imagen/4img.png" alt="jfps foto" /></a></li>
				<li><a ><img src="{{MEDIA_URL}}imagen/5img.png" alt="jfps foto" /></a></li>	
			</ul>
		</div>
	</div>
</div>
{% endblock %}
 {%block contenido%}
 <div id="titulo">
                   Cooperativa Juan Francisco Paz Silva
 </div>
                   <div id="contenido_interno">

                        <div id="filtros_principales" class="izq">
                           <div class="boton_filtro fondo_boton">
                            <img src="{{MEDIA_URL}}imagen/historia.png" alt="historia" />
                            <h2><b>Reseña Historica</b></h2><br></br>
                            <p>La Cooperativa Juan Francisco Paz Silva tiene sus inicios en las tiendas campesinas que impulsó el gobierno durante los Años 80 y ha venido adoptando diferentes figuras legales con el propósito de tener condición jurídica para dar respuestas a los problemas de sus Asociados y Clientes  en comunidades rurales. El centro neurálgico de la organización es la Tienda Campesina de la Cooperativa en la Población de Achuapa la cual es usada por un importante grupo poblacional como abastecedor de comercio al por menor.</p><br></br>
                            <p>La Cooperativa tiene en la actualidad 148 miembros contribuyentes, los servicios que esta ofrece se extienden a toda la población de la Municipalidad. De los 148 miembros, 131 son Hombres y 17 son Mujeres.</p>
                             </div>
                          
                            
                        </div>
                        <div class="separador" ></div>
                   </div>
 {% endblock %}
