 {%extends "base.html"%}
 {%block contenido%}
 <div id="titulo">
                   Cooperativa Juan Francisco Paz Silva
 </div>
                   <div id="contenido_interno">

                        <div id="filtros_principales" class="izq">
                            <a href="#"><div class="boton_filtro fondo_boton">
                            <img src="{{MEDIA_URL}}imagen/historia.png">
                            <b>Reseña Historica</b><br>
                            La Cooperativa Juan Francisco Paz Silva tiene sus inicios en las tiendas campesinas que impulsó el gobierno durante los Años 80 y ha venido adoptando diferentes figuras legales con el propósito de tener condición jurídica para dar respuestas a los problemas de sus Asociados y Clientes  en comunidades rurales. 
                             </div>
                             </a>
                            
                        </div>
                        <div class="separador" ></div>
                   </div>
 {% endblock %}
