/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, font, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

:focus {
	outline: 0;
}
/* // Reset */
/* --------------Comienza Generales-------------- */

body {
  background:#bfa17b;
  background-image: url(../imagen/bg-body.png);
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size:14px;
  padding:0;
  margin:0;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding:-28px 5 5 5;
    margin: -16px 5px 5px 5px;

}
span {
    background-color: #92b74e;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}

#coop h2 {
    color: #92b74e;
    font-size: 17px;
    padding: 0px 0px 0px 3px;
    margin: 0px 0px 0px 137px;
    
}

p {
  text-align:justify;
}



.der{
  float:right;
}

.centro{
  margin: 0pt auto;
  padding:0pt;
 
}
.separador{
  clear:both;
}


/* --------------Termina Generales-------------- */

/* --------------Contenedor que centra todo el sitio-------------- */

/* --------------Comienza Header-------------- */

#header {
overflow: hidden;
height: 60px;
background-color:#8E451A;
background-image: url(../imagen/bg-header.png);

}
#header h1, h2 {
    margin: 2px 4px 0px 134px;
    padding: 5px 6px 7px 9px;

}
#header ul#nav {
    float: right;
    font-size: 16px;
    margin: -17px;
    padding: 0px;
}
#nav li {
    display: inline;
    padding-right: 22px;
}

#nav a{
    text-decoration: none;
    color: #92B74B;
}

#nav a.selected {
    color: #fff;
    background: rgba(146,183,78,0.95);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;

}

#nav a:hover {
    color: #fff;
    background: rgba(146,183,78,0.95);
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;

}


#header_contenedor{
  width:960px;
  height:84px;
  border-radius:7px;
  -moz-border-radius:7px; 
  -webkit-border-radius:7px;
  margin:0pt auto;
  padding:0pt;
}

#logo{
  width:750px;
  font-size:22px;
  font-weight:bold;
  color:#385B1D;
  text-shadow: 0 0 2px #4e4e4e;
  padding-top:20px;
  height:55px;
}
#imagen_logo{
    width: 555px;
    height: 61px;
    margin:-8pt auto;
    padding:0pt;
}
#imagen_header{
  width:128px;
  height:75px;
  background-image: url(../imagen/gota.jpg);
  background-repeat: no-repeat;
}
#contenedor{
  width:960px;
  margin-top:15px;
}

#button{
  background:#35332d;
  border-color:#daba71;
  border-width:1px;
  border-style:solid;
  height:22px;
  color:#fff;
  border-radius:4px;
  -moz-border-radius:4px; /* Firefox */
  -webkit-border-radius:4px; /* Safari y Chrome */ 
  margin-left:7px;
}
.pimp {
    width: 960px;
    height: 16px;
    background-image: url(../imagen/bg-footer.png);
    margin:8pt auto;
    padding:2pt;
    border-radius:7px;
   -moz-border-radius:7px; 
   -webkit-border-radius:7px;
}



/* --------------Termina Header-------------- */

/* --------------Comienza menu linea base*/

#menu ul {
    background-image: url(../imagen/bg-header.png);
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    width: 950px;
    height: 30px;
    float: left;
    padding:7px;
    margin-bottom: 9px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#menu ul li {
display: inline;
}
#menu ul li a:link, #menu ul li a:visited {
color:#92b74e;
padding: 9px 6px;
float: left;
text-decoration: none;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
}
#menu ul li a:hover, #menu ul li a:active{
color: #fff;
background: rgba(146,183,78,0.95);
height: 10px;
text-shadow: 2px 2px 5px #fff;
-moz-text-shadow: 2px 2px 5px #fff;
-webkit-text-shadow: 2px 2px 5px #fff;
}

/* ---------------Termina menu linea base*/



/* --------------Comienza contenido--------------- */
#contenido{
  width:960px;
  !width:960px;
  color:#5d5d5d;
 }

#colum_izq{
  width:140px;
  margin-right:10px;
  background:#d9cfbf;
  border-radius:6px;
  -moz-border-radius:6px; /* Firefox */
  -webkit-border-radius:6px; /* Safari y Chrome */ 
  padding:5px;
  float: left;
}
.enlace_sidebar{
  color:#000;
  font-weight:bold;
  font-size:14px;
  height:23px;
  padding-top:7px;
  padding-left:30px;
}

.icono_ayuda{
  background-image:url(../imagen/ayuda.png);
  background-repeat: no-repeat;
  background-position:left;
}

.icono_filtro{
  background-image:url(../imagen/filtroconsulta.png);
  background-repeat: no-repeat;
  background-position:left;
}

#colum_der{
  width:960px;
  padding:0px;
  margin: 0px 0px 18px 0px;
  -moz-border-radius:6px; /* Firefox */
  -webkit-border-radius:6px; /* Safari y Chrome */ 
}

#colum_der img{
  margin-bottom:3px;
}
#titulo{
   background:#f2f2f2;
   color:#92b74e;
   font-size:18px;
   font-weight:bold;
   padding:7px;
   margin-bottom: 9px;
   -moz-border-radius: 10px;
   -khtml-border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-box-shadow: 0px 0px 18px rgba(242,242,242,0.9);
   -khtml-box-shadow: 0px 0px 18px rgba(242,242,242,0.9);
   -webkit-box-shadow: 0px 0px 18px rgba(242,242,242,0.9);	
   z-index: 90;
}

#contenido_interno{
    clear: both;
	margin: 0px auto;
	width: 960px;
	background: #f2f2f2;
	-moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 18px rgba(242,242,242,0.9);
    -khtml-box-shadow: 0px 0px 18px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 0px 18px rgba(0,0,0,0.9);	
	position: relative; 
	z-index: 90;  
}

#filtros_principales{
  width:425px;
}

.boton_filtro{
  width:934px;
  background: #f2f2f2;
  color:#000;
  font-size:14px;
  padding:11px;
  border-color:#92b74e;
  border-width:2px;
  border-style:solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Firefox */
  -webkit-border-radius:10px; /* Safari y Chrome */ 
  margin-bottom:10px;
}

.boton_filtro img{
  float:left;
  margin:5px;
  margin-right:20px;
}
.boton_filtro h2{
    text-align: left;
    text-decoration: underline;
    
}

#foto_menu{
  margin-right:10px;
}

#pintar a:hover {
    color: #54A4EE;

}


/* --------------Termina contenido-------------- */

/* --------------Comienza footer-------------- */

#footer{
    width: 100%;
    height: 60px;
    background-color: #8E451A;
    background-image: url(../imagen/bg-header.png);  
}

#footer_contenedor{
  height:16px;
  width:960px;
  padding-top:10px;
}
#logo_footer{
  width:44px;
  height:60px;
  float:left;
  background-image: url(../imagen/logofooter.png);
  background-repeat: no-repeat;
}
#creditos{
    color:#aaccee;
    font-size:14px;
    width:160px;
    height:60px;
    padding-top:10px;
    margin-left:10px;  float:right;
}

#creditos a{
    color: #92b74e;
    font-size: 17px;
    text-decoration: none;
}

#creditos a:hover{
    text-shadow: 2px 2px 3px #222;
    color: black;   
}

/* Termina footer */
#validador p{
    text-align: center;
    
}
/* CSS Especial para las tablas */

caption {
    color: #944317;
	padding: 0 0 5px 0;
	margin:0 auto;
	width:auto;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: right;
}

table {
	width:640px;
}

th{
	font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	padding: 8px 12px 4px 12px;
	background:url(../imagen/bg_header.jpg) no-repeat;
	vertical-align:middle;
}

td.total{
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
	text-align:right;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
}

th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime{
	cursor:pointer;
	background: #CAE8EA url(../imagen/bg_header_sortable.jpg) no-repeat;
	padding: 8px 12px 4px 16px;
}

th.forwardSort{
	background:#CAE8EA url(../imagen/bg_header_down.jpg) no-repeat 0 0;
}

th.reverseSort{
	background:#CAE8EA url(../imagen/bg_header_up.jpg) no-repeat 0 0;
}

table thead th.forwardSort a,
table thead th.reverseSort a {
	color:#000;
	text-decoration:none;
}

/*
These styles should be added when very long tables are expected
th.sort-active {
	background:#CAE8EA url(../media/bg_header_sorting.jpg) no-repeat 0 0;
	cursor:wait;
}

th.sort-active a {
	color:#a80000 !important;
	cursor:wait;
}
*/

th a {
	text-decoration:none;
	color: #4f6b72;
	background:transparent;
}

td a {
	text-decoration:none;
	color:#239;
	background:transparent;
}

td img {
	margin:0 auto;
	border:3px solid #ddd;
}

td a:hover {
	color:#a84444;
	border-bottom:1px dotted #a80000;
	background:transparent;
}

td {
	font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 12px 6px 12px;
	color: #4f6b72;
	background: #FFFFFF;
}

td.lft {
	text-align:left;
}

tr.alt {
	background: #F5FAFA;
	color: #797268;
}

/* Poor old Internet Explorer 6 has a bug that means we can't use background images for the table rows
   as it trys to download the image each and every time that it is used (which means a 1000 row table
   will produce 1000 http requests for the image in question) */
tr[class="alt"] td {
	background: #F5FAFA url(../media/td_alt.jpg) no-repeat;
}

td[class~="alt"]{
	background: #edf3f3 url(../media/col_alt.jpg) no-repeat !important;
}

/* Poor old Internet Explorer won't see the next two rules either as it doesn't get :first-child */
tbody tr.alt td:first-child{
	background: #F5FAFA url(../imagen/bullet2.gif) no-repeat;
	font-weight:bold;
}

tbody tr td:first-child {
	background: #fff url(../imagen/bullet1.gif) no-repeat;
	font-weight:bold;
}

/* Image free rules for Internet Explorer < 7 */
* html tr.alt td {
	background-color:#F5FAFA;
}

* html tr td.alt,
* html tr.alt td.alt {
background-color:#edf3f3;
}

/* TERMINA CSS Especial para las tablas */


